<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lt.vu.mybatis.dao.ShelterMapper">
    <resultMap id="BaseResultMap" type="lt.vu.mybatis.model.Shelter">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="ADDRESS" jdbcType="VARCHAR" property="address"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <collection property="animals" ofType="lt.vu.mybatis.model.Animal">
            <id property="id" column="aid"/>
            <result property="name" column="aname"/>
            <result property="type" column="atype"/>
        </collection>
    </resultMap>
    <resultMap id="AnimalsResultMap" type="lt.vu.mybatis.model.Animal">
        <id column="ID" jdbcType="BIGINT" property="id"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="TYPE" jdbcType="VARCHAR" property="type"/>
        <result column="SHELTER_ID" jdbcType="VARCHAR" property="shelterId"/>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from PUBLIC.SHELTER
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="lt.vu.mybatis.model.Shelter"
            useGeneratedKeys="true">
        insert into PUBLIC.SHELTER (ADDRESS, NAME)
        values (#{address,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="lt.vu.mybatis.model.Shelter">
        update PUBLIC.SHELTER
        set ADDRESS = #{address,jdbcType=VARCHAR},
            NAME    = #{name,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select s.ID, s.ADDRESS, s.NAME, a.ID as aid, a.NAME as aname, a.TYPE as atype
        from PUBLIC.SHELTER as s
        left outer join PUBLIC.ANIMAL a
        on a.SHELTER_ID = s.ID
        where s.ID = #{id,jdbcType=BIGINT}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select ID, ADDRESS, NAME
        from PUBLIC.SHELTER
    </select>
    <select id="selectOtherAnimals" parameterType="java.lang.Long" resultMap="AnimalsResultMap">
        select ID, NAME, TYPE, SHELTER_ID
        from PUBLIC.ANIMAL where SHELTER_ID != #{id,jdbcType=BIGINT}
    </select>
</mapper>